*{
    font-family:Arial, Helvetica, sans-serif;
    background-color:aliceblue;
}
body{
    background-color:antiquewhite;
    margin:20px;
    padding:20px;
    text-align: center;
}
hr{
    width:95%;
}